{{ header }}{{ git_hidden_tag }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ setting_href }}" target="_blank" data-toggle="tooltip" title="{{ button_setting }}" class="btn btn-warning"><i class="fa fa-cog"></i></a>
        <button type="button" class="btn btn-success button-bulk1" onclick="saveBulkStatus(this);" data-id="0" data-status="1"><i class="fa fa-plus-circle"></i> {{ button_enable }}</button>
        <button type="button" class="btn btn-danger button-bulk0" onclick="saveBulkStatus(this);" data-id="0" data-status="0"><i class="fa fa-minus-circle"></i> {{ button_disable }}</button>
        <button type="button" class="btn btn-primary" onclick="openEvent(0);"><i class="fa fa-plus"></i> {{ button_add }}</button>
        <button type="button" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-event').submit() : false;"><i class="fa fa-trash-o"></i> {{ button_delete }}</button>
      </div>
      <h1>
        <a href="https://www.opencart.com/index.php?route=marketplace/extension&sort=rating&filter_member=CodingInspect#extension-list" target="_blank"><img src="view/image/codinginspect/logo.png" style="width:180px;" data-toggle="tooltip" title="Event Manager By Codinginspect" alt="Codinginspect"></a> {{ heading_title }}
        </h1>
      <div>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}
        </h3>
      </div>
      <div class="panel-body">
        <div class="well" id="filter_events">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">{{ entry_code }}</label>
                <input type="text" name="filter_code" value="{{ filter_code }}" class="form-control" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value=""></option>
                  {% if filter_status == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" ><span data-toggle="tooltip" title="{{ help_tooltip }}">{{ entry_trigger }}</span></label>
                <input type="text" name="filter_trigger" value="{{ filter_trigger }}" class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">{{ entry_action }}</label>
                <input type="text" name="filter_action" value="{{ filter_action }}" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group  text-right">
                <a href="{{ event_href }}" class="btn btn-default"><i class="fa fa-refresh"></i> {{ button_reset }}</a>
                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-event">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left" style="width: 15%;"><span data-toggle="tooltip" title="{{ text_view_code_list }}" onclick="openPopup('code');"></span> {% if sort == 'code' %}<a href="{{ sort_code }}" class="{{ order|lower }}">{{ column_code }}</a>{% else %}<a href="{{ sort_code }}">{{ column_code }}</a>{% endif %}</td>
                  <td class="text-left" style="width: 25%;"><span data-toggle="tooltip" title="{{ text_view_trigger_list }}" onclick="openPopup('trigger');"></span> {% if sort == 'trigger' %}<a href="{{ sort_trigger }}" class="{{ order|lower }}">{{ column_trigger }}</a>{% else %}<a href="{{ sort_trigger }}">{{ column_trigger }}</a>{% endif %}</td>
                  <td class="text-left" style="width: 25%;"><span data-toggle="tooltip" title="{{ text_view_action_list }}" onclick="openPopup('action');"></span> {% if sort == 'action' %}<a href="{{ sort_action }}" class="{{ order|lower }}">{{ column_action }}</a>{% else %}<a href="{{ sort_action }}">{{ column_action }}</a>{% endif %}</td>

                  <td class="text-left">{% if sort == 'status' %}<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>{% else %}<a href="{{ sort_status }}">{{ column_status }}</a>{% endif %}</td>

                  <td class="text-center">{% if sort == 'sort_order' %}<a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>{% else %}<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>{% endif %}</td>

                  <td class="text-right" style="width: 20%">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>

              {% if events %}
              {% for event in events %}
              <tr id="event-row{{ event.event_id }}">
                <td class="text-center">{% if event.event_id in selected %}
                  <input type="checkbox" name="selected[]" value="{{ event.event_id }}" checked="checked" />
                  {% else %}
                  <input type="checkbox" name="selected[]" value="{{ event.event_id }}" />
                  {% endif %}</td>
                <td class="text-left cell_code">{{ event.code }}</td>
                <td class="text-left cell_trigger">{{ event.trigger }}</td>
                <td class="text-left cell_action">{{ event.action }}</td>
                <td class="text-left cell_status">
                  {% if event.status %}
                    <span class="label label-success">{{ text_enabled }}</span>
                  {% else %}
                    <span class="label label-danger">{{ text_disabled }}</span>
                  {% endif %}
                </td>
                <td class="text-center cell_sort_order">{{ event.sort_order }}</td>
                <td class="text-right">
                  <button type="button" class="btn btn-primary button-editevent{{ event.event_id }}" data-toggle="tooltip" title="{{ button_edit }}" onclick="openEvent('{{ event.event_id }}');" data-loading-text="..."><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-info button-viewevent{{ event.event_id }}" onclick="viewEvent('{{ event.event_id }}');" data-loading-text="..." data-toggle="tooltip" title="{{ button_view }}"><i class="fa fa-info-circle"></i></button>

                  {% if not event.enabled %}
                    <button type="button" data-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success button-manual1-{{ event.event_id }}" onclick="saveBulkStatus(this);" data-id="{{ event.event_id }}" data-status="1" data-loading-text="..."><i class="fa fa-plus-circle"></i></button>
                  {% else %}
                    <button type="button" data-toggle="tooltip" title="{{ button_disable }}" class="btn btn-danger button-manual0-{{ event.event_id }}" onclick="saveBulkStatus(this);" data-id="{{ event.event_id }}" data-status="0" data-loading-text="..."><i class="fa fa-minus-circle"></i></button>
                  {% endif %}
                  </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="7">{{ text_no_results }}</td>
              </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>

  <div id="event-modal" class="modal text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ text_info }}</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group required">
              <label class="col-sm-3 control-label">{{ entry_code }}</label>
              <div class="col-sm-9">
                <input type="text" name="code" value="" placeholder="{{ entry_code }}" class="form-control" />
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-3 control-label">{{ entry_trigger }}</label>
              <div class="col-sm-9">
                <input type="text" name="trigger" value="" placeholder="{{ entry_trigger }}" class="form-control" />
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-3 control-label">{{ entry_action }}</label>
              <div class="col-sm-9">
                <input type="text" name="action" value="" placeholder="{{ entry_action }}" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
              <div class="col-sm-9">
                <input type="text" name="sort_order" value="" placeholder="{{ entry_sort_order }}" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{ entry_status }}</label>
              <div class="col-sm-5">
                <select name="status" class="form-control">
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                </select>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-success btn-block button-saveevent" onclick="saveEvent();"><i class="fa fa-check-circle"></i> {{ button_save }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="view-modal" class="modal text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ text_info }}</h4>
        </div>
        <div class="modal-body">
          <p><strong>{{ text_trigger }}</strong></p>
          <p class="view-trigger"></p>
          <p><strong>{{ text_action }}</strong></p>
          <p class="view-action"></p>
        </div>
      </div>
    </div>
  </div>
  <div id="list-modal" class="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="loadlist"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Filter Trigger on Enter button
$('#filter_events input, #filter_events select').on('keydown', function(e) {
    if (e.keyCode == 13) {
      $('#button-filter').trigger('click');
    }
});

// Save Trigger on Enter button
$('#event-modal input, #event-modal select').on('keydown', function(e) {
    if (e.keyCode == 13) {
      $('.button-saveevent').trigger('click');
    }
});

function viewEvent(event_id) {
  $('.view-trigger, .view-action').html('');

  $.ajax({
    url: 'index.php?route=extension/cievent/getEvent&user_token={{ user_token }}&event_id='+ event_id,
    dataType: 'json',
    beforeSend: function() {
      $('.button-viewevent'+ event_id).button('loading');
    },
    complete: function() {
      $('.button-viewevent'+ event_id).button('reset');
    },
    success: function(json) {
      $('.inspect-warning, .inspect-danger, .inspect-success').remove();

      if(json['warning']) {
        $('.container-fluid > .panel').before('<div class="alert alert-danger inspect-danger"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }

      if(json['event_info']) {
        $('.view-trigger').html(json['event_info']['trigger']);
        $('.view-action').html(json['event_info']['action']);

        $('#view-modal').modal('show');
      }
    }
  });
}

function openEvent(event_id) {
  $('.button-saveevent').attr('data-id', event_id);

  if(event_id > 0) {
    // Edit Event
    $('#event-modal input[name=\'code\']').attr('disabled', true);

    $.ajax({
      url: 'index.php?route=extension/cievent/getEvent&user_token={{ user_token }}&event_id='+ event_id,
      dataType: 'json',
      beforeSend: function() {
        $('.button-editevent'+ event_id).button('loading');
      },
      complete: function() {
        $('.button-editevent'+ event_id).button('reset');
      },
      success: function(json) {
        $('.inspect-warning, .inspect-danger, .inspect-success').remove();

        if(json['warning']) {
          $('.container-fluid > .panel').before('<div class="alert alert-danger inspect-danger"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }

        if(json['event_info']) {
          $('#event-modal input[name=\'code\']').val(json['event_info']['code']);
          $('#event-modal input[name=\'trigger\']').val(json['event_info']['trigger']);
          $('#event-modal input[name=\'action\']').val(json['event_info']['action']);
          $('#event-modal input[name=\'sort_order\']').val(json['event_info']['sort_order']);
          $('#event-modal select[name=\'status\']').val(json['event_info']['status']);

          $('#event-modal').modal('show');
        }
      }
    });
  } else {
    $('#event-modal .inspect-warning, #event-modal .inspect-danger, #event-modal .inspect-success').remove();

    $('#event-modal input[name=\'code\']').attr('disabled', false);

    $('#event-modal input, #event-modal textarea').val('');

    $('#event-modal select').val(1);

    // Add Event
    $('#event-modal').modal('show');
  }
}

function saveEvent() {
  var event_id = $('.button-saveevent').attr('data-id');
  $.ajax({
    url: '{{ saveevent_href }}&event_id='+ event_id,
    dataType: 'json',
    type: 'post',
    data: $('#event-modal input, #event-modal textarea, #event-modal select'),
    beforeSend: function() {
      $('.button-saveevent').button('loading');
    },
    complete: function() {
      $('.button-saveevent').button('reset');
    },
    success: function(json) {
      $('#event-modal .inspect-warning, #event-modal .inspect-danger, #event-modal .inspect-success').remove();

      if(json['warning']) {
        $('#event-modal .modal-body').prepend('<div class="alert alert-danger inspect-danger"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }

      if(json['success']) {
        location = json['success'];
      }
    }
  });
}

function saveBulkStatus(element) {
  var status = $(element).attr('data-status');
  var event_id = $(element).attr('data-id');

  var url = '{{ bulkstatus_href }}&status='+ status;

  if(event_id > 0) {
    url += '&event_id='+ event_id;
  }

  $.ajax({
    url: url,
    dataType: 'json',
    type: 'post',
    data: $('#form-event table input[type=\'checkbox\']:checked'),
    beforeSend: function() {
      $('.button-bulk'+ status).button('loading');
      $('.button-manual'+ status +'-'+ event_id).button('loading');
    },
    complete: function() {
      $('.button-bulk'+ status).button('reset');
      $('.button-manual'+ status +'-'+ event_id).button('reset');
    },
    success: function(json) {
      $('.inspect-warning, .inspect-danger, .inspect-success').remove();

      if(json['warning']) {
        $('.container-fluid > .panel').before('<div class="alert alert-danger inspect-danger"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }

      if(json['success']) {
        location = json['success'];
      }
    }
  });
}

function openPopup(field) {
  if(field == 'code') {
      $('#list-modal .modal-title').text('{{ text_code_list }}');
  } else if(field == 'trigger') {
      $('#list-modal .modal-title').text('{{ text_trigger_list }}');
  } else if(field == 'action') {
      $('#list-modal .modal-title').text('{{ text_action_list }}');
  }

  // $('.list-trigger, .list-action').html('');

  $.ajax({
    url: 'index.php?route=extension/cievent/getEventbyField&user_token={{ user_token }}&field='+ field,
    dataType: 'json',
    success: function(json) {
      $('.inspect-warning, .inspect-danger, .inspect-success').remove();

      if(json['warning']) {
        $('.container-fluid > .panel').before('<div class="alert alert-danger inspect-danger"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }

      if(json['events']) {
        html = '<div class="well well-sm" style="height: 300px; overflow: auto;">';
        html += '<ul class="list-unstyled">';

        for(i in json['events']) {
            html += '<li><a class="group-field" data-field="'+ field +'" data-value="'+ json['events'][i][field] +'">'+ json['events'][i][field] +'</a></li>';
        }

        html += '</ul>';
        html += '</div>';

        $('#loadlist').html(html);
        $('#list-modal').modal('show');
      }
    }
  });
}

$(document).delegate('#loadlist li a', 'click', function(e) {
    e.preventDefault();

    var field = $(this).attr('data-field');
    var value = $(this).attr('data-value');

    $('input[name="filter_'+ field +'"]').val(value);
    $('#list-modal').modal('hide');

    setTimeout(function() {
      $('#button-filter').trigger('click');
    }, 100);
});
</script>
<script type="text/javascript">
$('#button-filter').on('click', function() {
  var url = '';

  var filter_code = $('input[name=\'filter_code\']').val();
  if (filter_code) {
    url += '&filter_code=' + encodeURIComponent(filter_code);
  }

  var filter_trigger = $('input[name=\'filter_trigger\']').val();
  if (filter_trigger) {
    url += '&filter_trigger=' + encodeURIComponent(filter_trigger);
  }

  var filter_action = $('input[name=\'filter_action\']').val();
  if (filter_action) {
    url += '&filter_action=' + encodeURIComponent(filter_action);
  }

  var filter_status = $('select[name=\'filter_status\']').val();
  if (filter_status !== '') {
    url += '&filter_status=' + encodeURIComponent(filter_status);
  }

  location = 'index.php?route=marketplace/event&user_token={{ user_token }}' + url;
});

$('input[name=\'filter_code\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=extension/cievent/autocomplete&user_token={{ user_token }}&filter_code=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['code'],
            value: item['event_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_code\']').val(item['label']);
  }
});
</script>
{{ footer }}