<!DOCTYPE html>{{ git_hidden_tag }}
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
{% if description %}
  <meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
{% endif %}

{{ meta_twitter }}

{{ meta_opengraph }}

  <link rel="canonical" href="{{ base }}" />

{% if gallerympmetas %}
{% for gallerympmeta in gallerympmetas %}
  <meta {{ gallerympmeta.attribute }}="{{ gallerympmeta.attribute_value }}" content="{{ gallerympmeta.content }}" />
{% endfor %}
{% endif %}
	
{% if mpmetas %}
{% for mpmeta in mpmetas %}
  <meta {{ mpmeta.attribute }}="{{ mpmeta.attribute_value }}" content="{{ mpmeta.content }}" />
{% endfor %}
{% endif %}

  <link href="catalog/view/javascript/wblog/css/style.css" rel="stylesheet" type="text/css" />
				
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap5.min.js"></script>
  <script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel2.min.js"></script>
  <script src="catalog/view/javascript/jquery.countdown.min.js"></script>
  <script src="catalog/view/javascript/jquery.countdown.js"></script>

  <script type="text/javascript" src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> 
  <link href="catalog/view/theme/{{ mytemplate }}/stylesheet/stylesheet.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" /> 
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/lightbox.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/carousel.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/custom.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/bootstrap.5.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/animate.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/animated-text.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/theme-default.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/flaticon.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/all.min.css" />
  <link href="catalog/view/theme/{{ mytemplate }}/stylesheet/responsive.css" rel="stylesheet" />
  <!-- Add SO Megamenu Start -->
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/so_megamenu/so_megamenu.css" />
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/so_megamenu/wide-grid.css" />
  <script type="text/javascript" src="catalog/view/javascript/so_megamenu/so_megamenu.js"></script>
  <!-- Add SO Megamenu End -->
{% if direction == 'rtl' %}
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/megnor/rtl.css" />
{% endif %}

{% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
  <script src="{{ script }}"></script>
{% endfor %}
{% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}

{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

  <!-- Megnor www.templatemela.com - Start -->
  <script src="catalog/view/javascript/megnor/instagram-scripts-min.js"></script>
  <script src="catalog/view/javascript/megnor/custom.js"></script>
  <script src="catalog/view/javascript/megnor/jstree.min.js"></script>
  <script src="catalog/view/javascript/megnor/carousel.min.js"></script>
  <script src="catalog/view/javascript/megnor/jquery.bxslider.min.js"></script>
  <script src="catalog/view/javascript/megnor/megnor.min.js"></script>
  <script src="catalog/view/javascript/megnor/jquery.custom.min.js"></script>
  <script src="catalog/view/javascript/megnor/jquery.formalize.min.js"></script>
  <script src="catalog/view/javascript/megnor/jquery.elevatezoom.min.js"></script>
  <script src="catalog/view/javascript/megnor/bootstrap-notify.min.js"></script>  
  <script src="catalog/view/javascript/megnor/animated-text.js"></script>
  <script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
  <script src="catalog/view/javascript/megnor/tabs.js"></script>
  <script src="catalog/view/javascript/megnor/jquery.hoverdir.js"></script>
  <script src="catalog/view/javascript/megnor/modernizr.js"></script>
  <script src="catalog/view/javascript/lightbox/lightbox-2.6.min.js"></script>
 <script src="catalog/view/javascript/imagesloaded.pkgd.min.js"></script>




  <script>
    (function () {
      var feedToken = 'https://ig.instant-tokens.com/users/bc2afecf-30b2-4a91-b819-38edd295cd71/instagram/17841402307816714/token?userSecret=jird860sk2dgid0scrvj5';

        fetch(feedToken).then(function(resp) {
          return resp.json();
        }).then(function (data) {
          var feed = new Instafeed({
            accessToken: data.Token, // Access token from json response
            target: 'instafeed',
            limit: 6,
            template: '<div class="item instafeed-item-wrap"><a href="\{\{link\}\}"><figure data-src="\{\{image\}\}"></figure></a></div>',
            after: function() {
                // disable button if no more results to load
                $('.instafeed-item-wrap figure').lazy();
            },
          });
          feed.run();
        }).catch(function (error) {
          console.log(error);
        });
    
    })();
  </script>

  <!-- ======= Quick view JS ========= -->
  <script> 
    function quickbox(){
      if ($(window).width() > 767) {
        $('.quick-view').magnificPopup({
          type:'iframe',
          delegate: 'a',
          preloader: true,
          tLoading: 'Loading image #%curr%...',
        });
      }  
    }
    jQuery(document).ready(function() {quickbox();});
    jQuery(window).resize(function() {quickbox();});
  </script>

  <!-- Megnor www.templatemela.com - End -->
  <script src="catalog/view/javascript/common.js"></script>
  <script src="catalog/view/javascript/wishlist_toggle_button.js" type="text/javascript"></script>
  <script>
    /* Can also be used with $(document).ready() */
    $(window).load(function() {		
      $("#spinner").fadeOut("slow");
    });	
  </script>

{% if at_css %}
<style type="text/css">
{{ at_css }}
</style>
{% endif %}
<style type="text/css">
.breadcrumb>li+li:before {
  content: "\f054";
  padding: 0 9px 0 10px;
  font-size: 13px;
}
</style>
{% if at_custom_head %}
{{ at_custom_head }}
{% endif %}

{% if lang=='ar' %}
  <link href="catalog/view/theme/default/stylesheet/bootstrap-rtl.css" rel="stylesheet" />
  <link href="catalog/view/theme/default/stylesheet/bootstrap-rtl.min.css" rel="stylesheet" />
  <link href="catalog/view/theme/default/stylesheet/rtl.css" rel="stylesheet" />
{% endif %}
			
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/OPC100246/stylesheet/custom_css_file.css" />

{{ favicons }}

</head>

{% if (column_left and column_right) %}
{% set layoutclass = 'layout-3' %}
{% elseif (column_left or column_right) %}
{% if column_left %}
{% set layoutclass = 'layout-2 left-col' %}
{% elseif column_right %}
{% set layoutclass = 'layout-2 right-col' %}
{% endif %}
{% else %}
{% set layoutclass = 'layout-1' %}
{% endif %}

<body class="{{ class }} {{ " " }} {{ layoutclass }}">

<nav id="top">
  {{ language }}
</nav>
{% if topbar %}
<style type="text/css">
#topbar {margin-bottom: 0;padding: 5px 0;background-color: #ffe376;border: 1px solid #ffe376;border-radius: 0;}
#topbar .container {color: #131010;}
#topbar .close {background-color: #b89305;color: #fff;padding: 0 5px;border-radius: 3px;}
</style>
<div id="topbar" class="alert" role="alert">
	<div class="container">
		{{ topbar_message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
{% endif %}
			
<div id="spinner"></div>
<header>
  <div class="header-top header-area style-four transparent" id="sticky-header">
    <div class="container">
    <div class="m-logo">
				<a href="#"><span class="logo-txt"></span></a>
			</div>
			<div class="menu-wrapper">
        <div class="row align-items-center d-flex">
          <div class="col-sm-3 header-logo">
            <div id="logo">
            {% if logo %}
              <a href="{{ home }}">
                <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
              </a>
            {% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}
            </div>
          </div>
          {{ megamenu }}
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom-cover">
    <div class="header-bottom">
      <div class="container">
        <div class="row">
          <div class="header-center">
            
          </div>
          <div class="header-right">{{ header_top }}</div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="content-top-breadcum breatcome-area align-items-center">
<div class="container">
<div class="row">
<div id="title-content"> 
</div>
</div>
</div>
</div>




