	<div class="layout1">
	  
		<h1>{{ heading_title }}</h1>
		
		<div class="author_like_comment">
			{% if mshow_author and username %}
			<span><i class="fa fa-user"></i>{{ username }}</span>
			{% endif %}
			{% if mshow_publishdate and publisheddate %}
			<span><i class="fa fa-clock-o"></i>{{ publisheddate }}</span>
			{% endif %}
			{% if mshow_totalview %}
			<span><i class="fa fa-eye"></i>{{ viewed }}</span>
			{% endif %}
			{% if mshow_total_comment %}
			<span><i class="fa fa-comments"></i>{{ totalcomment }}</span>
			{% endif %}
			{% if mshow_like %}
			<span><i class="fa fa-heart"></i>{{ totallike }}</span>
			{% endif %}
		</div>
		<hr />
		{% if mshow_social_share %}
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
				</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
		{% endif %}
		{% if mshowthumb %}
		{% if post_type==1 %}
		<a><img src="{{ thumb }}" title="{{ heading_title }}" class="img-responsive" alt="{{ heading_title }}"/></a>
		{% endif %}
		{% if post_type==2 %}
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="{{ video_url }}"></iframe>
		</div>
		{% endif %}
		{% endif %}
				
		{{ description }}

		<br />
		<br />
	
		{% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
		
		{% if not hasliked and mallowlike %}
		<div class="like_message">
			<a id="button-like"><i class="fa fa-thumbs-o-up img-circle"></i></a>
		</div>
		{% elseif hasliked and mallowlike %}
		<div data-toggle="tooltip" data-original-title="You are already liked this Post" class="like_message like_messageocx">
		  <a><i class="fa fa-thumbs-o-up img-circle"></i></a>
		</div>
		{% endif %}
		 {% if mallow_postcomment and allowcommentbypostid %}
		{% if guestcomment %}
		<form class="form-horizontal" id="form-review">
			<h2>{{ text_write }}</h2>
			<div class="row comment_fields">
				<div class="col-sm-6">
					<input type="text" name="name" value="{{ customername }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
				</div>
				<div class="col-sm-6">
					<input type="text" name="email" value="{{ customeremail }}" id="input-name" placeholder="{{ entry_email }}" class="form-control" />
				</div>
				<div class="col-sm-12 comment_box">
					<textarea name="text" rows="5" id="input-comment" class="form-control" placeholder="{{ entry_comment }}"></textarea>
				</div>
				<div class="col-sm-12 comment_box">
					<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
				</div>
			</div>
		</form>
		{% else %}
			{{ text_login }}
		{% endif %}
		{% endif %}
		
		{% if mdisplay_comment %}
		<div id="review"></div>
		{% endif %}
		
	</div>
