<div id="como_quickview">
    <div class="row">
      <div class="{% if orderstatus_quickview_showoption %}col-md-4{% else %}col-md-6{% endif %}">
        <div class="panel panel-default">
         <!--  <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> {{ text_order_detail }}</h3>
          </div> -->
          <table class="table">
            <tbody>
              {% if store_total > 0 %}
              <tr>
                <td style="width: 1%;"><button onclick="return false;" data-toggle="tooltip" title="{{ text_store }}" class="btn btn-info btn-xs"><i class="fa fa-shopping-cart fa-fw"></i></button></td>
                <td><a href="{{ store_url }}" target="_blank">{{ store_name }}</a></td>
              </tr>
              {% endif %}
              <tr>
                <td><button onclick="return false;" data-toggle="tooltip" title="{{ text_date_added }}" class="btn btn-info btn-xs"><i class="fa fa-calendar fa-fw"></i></button></td>
                <td>{{ date_added }}</td>
              </tr>
              <tr>
                <td><button onclick="return false;" data-toggle="tooltip" title="{{ text_payment_method }}" class="btn btn-info btn-xs"><i class="fa fa-credit-card fa-fw"></i></button></td>
                <td>{{ payment_method }}</td>
              </tr>
            {% if shipping_method %}
            <tr>
              <td><button onclick="return false;" data-toggle="tooltip" title="{{ text_shipping_method }}" class="btn btn-info btn-xs"><i class="fa fa-truck fa-fw"></i></button></td>
              <td>{{ shipping_method }}</td>
            </tr>
            {% endif %}
              </tbody>
            
          </table>
        </div>
      </div>
      <div class="{% if orderstatus_quickview_showoption %}col-md-4{% else %}col-md-6{% endif %}">
        <div class="panel panel-default">
          <!-- <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> {{ text_customer_detail }}</h3>
          </div> -->
          <table class="table">
            <tr>
              <td style="width: 1%;"><button onclick="return false;" data-toggle="tooltip" title="{{ text_customer }}" class="btn btn-info btn-xs"><i class="fa fa-user fa-fw"></i></button></td>
              <td>{% if customer %} <a href="{{ customer }}" target="_blank">{{ firstname }} {{ lastname }} ({{ customer_id }})</a> {% else %}
                {{ firstname }} {{ lastname }}
                {% endif %}</td>
            </tr>
            <tr>
              <td><button onclick="return false;" data-toggle="tooltip" title="{{ text_customer_group }}" class="btn btn-info btn-xs"><i class="fa fa-group fa-fw"></i></button></td>
              <td>{{ customer_group }}</td>
            </tr>
            <tr>
              <td><button onclick="return false;" data-toggle="tooltip" title="{{ text_email }}" class="btn btn-info btn-xs"><i class="fa fa-envelope-o fa-fw"></i></button></td>
              <td><a href="mailto:{{ email }}">{{ email }}</a></td>
            </tr>
            <tr>
              <td><button onclick="return false;" data-toggle="tooltip" title="{{ text_telephone }}" class="btn btn-info btn-xs"><i class="fa fa-phone fa-fw"></i></button></td>
              <td>{{ telephone }}</td>
            </tr>
          </table>
        </div>
      </div>
{% if orderstatus_quickview_showoption %}
      <div class="col-md-4">
        <div class="panel panel-default">
          <!-- <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-cog"></i> {{ text_option }}</h3>
          </div> -->
          <table class="table">
            <tbody>
              <tr>
                <td>{{ text_invoice }}</td>
                <td id="invoice" class="text-right">{{ invoice_no }}</td>
                <td style="width: 1%;" class="text-center">{% if not invoice_no %}
<script>
function comoCreateInvoice(e) {
	$.ajax({
		url: 'index.php?route=sale/order/createinvoiceno&user_token={{ user_token }}&order_id={{ order_id }}',
        type: 'get',
		dataType: 'json',
		beforeSend: function() {
			$('#button-invoice').button('loading');
		},
		complete: function() {
			$('#button-invoice').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#como_quickview').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['invoice_no']) {
				$('#invoice').html(json['invoice_no']);

				$('#button-invoice').replaceWith('<button disabled="disabled" class="btn btn-success btn-xs"><i class="fa fa-cog"></i></button>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
    
    return false;
}
function comoRewardAdd(e) {
	$.ajax({
		url: 'index.php?route=sale/order/addreward&user_token={{ user_token }}&order_id={{ order_id }}',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-reward-add').button('loading');
		},
		complete: function() {
			$('#button-reward-add').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#como_quickview').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
                $('#como_quickview').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('#button-reward-add').replaceWith('<button id="button-reward-remove" data-toggle="tooltip" title="{{ button_reward_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></button>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}
function comoRewardRemove(e) {
	$.ajax({
		url: 'index.php?route=sale/order/removereward&user_token={{ user_token }}&order_id={{ order_id }}',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-reward-remove').button('loading');
		},
		complete: function() {
			$('#button-reward-remove').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#como_quickview').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
                $('#como_quickview').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('#button-reward-remove').replaceWith('<button id="button-reward-add" data-toggle="tooltip" title="{{ button_reward_add }}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}
function comoCommissionAdd(e) {
	$.ajax({
		url: 'index.php?route=sale/order/addcommission&user_token={{ user_token }}&order_id={{ order_id }}',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-commission-add').button('loading');
		},
		complete: function() {
			$('#button-commission-add').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#como_quickview').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
                $('#como_quickview').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('#button-commission-add').replaceWith('<button id="button-commission-remove" data-toggle="tooltip" title="{{ button_commission_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></button>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}
function comoCommissionRemove(e) {
	$.ajax({
		url: 'index.php?route=sale/order/removecommission&user_token={{ user_token }}&order_id={{ order_id }}',
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			$('#button-commission-remove').button('loading');
		},
		complete: function() {
			$('#button-commission-remove').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#como_quickview').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
                $('#como_quickview').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('#button-commission-remove').replaceWith('<button id="button-commission-add" data-toggle="tooltip" title="{{ button_commission_add }}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}
</script>
                  <button type="button" id="button-invoice" onclick="comoCreateInvoice()" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_generate }}" class="btn btn-success btn-xs"><i class="fa fa-cog"></i></button>
                  {% else %}
                  <button disabled="disabled" class="btn btn-success btn-xs"><i class="fa fa-refresh"></i></button>
                  {% endif %}</td>
              </tr>
              <tr>
                <td>{{ text_reward }}</td>
                <td class="text-right">{{ reward }}</td>
                <td class="text-center">{% if customer and reward %}
                  {% if not reward_total %}
                  <button type="button" id="button-reward-add" onclick="comoRewardAdd()" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_reward_add }}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>
                  {% else %}
                  <button type="button" id="button-reward-remove" onclick="comoRewardRemove()" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_reward_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></button>
                  {% endif %}
                  {% else %}
                  <button disabled="disabled" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>
                  {% endif %}</td>
              </tr>
              <tr>
                <td>{{ text_affiliate }}
                  {% if affiliate %}
                  (<a href="{{ affiliate }}">{{ affiliate_firstname }} {{ affiliate_lastname }}</a>)
                  {% endif %}</td>
                <td class="text-right">{{ commission }}</td>
                <td class="text-center">{% if affiliate %}
                  {% if not commission_total %}
                  <button type="button" id="button-commission-add" onclick="comoCommissionAdd()" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_commission_add }}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>
                  {% else %}
                  <button type="button" id="button-commission-remove" onclick="comoCommissionRemove()" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_commission_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></button>
                  {% endif %}
                  {% else %}
                  <button disabled="disabled" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i></button>
                  {% endif %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
{% endif %}
    </div>
    <!-- <button class="btn btn-default btn-sm " style="font-weight: bold;" type="button" data-toggle="collapse" data-target="#address-collapse" aria-expanded="false">{{ entry_address }} <i class="fa fa-caret-down"></i></button> -->
    <table class="table table-bordered" id="address-collapse">
      <thead>
        <tr>
          <td style="width: 50%;" class="text-left">{{ text_payment_address }}</td>
          {% if shipping_method %}
          <td style="width: 50%;" class="text-left">{{ text_shipping_address }}</td>
          {% endif %} </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">{{ payment_address }}</td>
          {% if shipping_method %}
          <td class="text-left">{{ shipping_address }}</td>
          {% endif %} </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="text-left">{{ column_product }}</td>
          <!-- <td class="text-left">{{ column_model }}</td> -->
          <td class="text-right">{{ column_quantity }}</td>
          <td class="text-right">{{ column_price }}</td>
          <td class="text-right">{{ column_total }}</td>
        </tr>
      </thead>
      <tbody>
      
      {% for product in products %}
      <tr>
        <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% for option in product.option %} <br />
          {% if option.type != 'file' %}
          &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% else %}
          &nbsp;<small> - {{ option.name }}: <a href="{{ option.href }}">{{ option.value }}</a></small> {% endif %}
          {% endfor %}</td>
        <!-- <td class="text-left">{{ product.model }}</td> -->
        <td class="text-right">{{ product.quantity }}</td>
        <td class="text-right">{{ product.price }}</td>
        <td class="text-right">{{ product.total }}</td>
      </tr>
      {% endfor %}
      {% for voucher in vouchers %}
      <tr>
        <td class="text-left"><a href="{{ voucher.href }}">{{ voucher.description }}</a></td>
        <td class="text-left"></td>
        <td class="text-right">1</td>
        <td class="text-right">{{ voucher.amount }}</td>
        <td class="text-right">{{ voucher.amount }}</td>
      </tr>
      {% endfor %}
      {% for total in totals %}
      <tr>
        <td colspan="3" class="text-right">{{ total.title }}</td>
        <td class="text-right">{{ total.text }}</td>
      </tr>
      {% endfor %}
        </tbody>
      
    </table>
    {% if comment %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>{{ text_comment }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ comment }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
</div>
