{{ header }}
<div id="content">
	<div class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			{{ breadcrumb.separator }}
			<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
		{% endfor %}
	</div>
	<div class="box">
		<div class="heading">
			<h1><img src="view/image/module.png" alt="" />
				{{ heading_title }}
      </h1>
		</div>
		<div class="content">
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
				Stockreport is now available in your menu. Reports/Products/inventory
  		</form>
	  </div>
  </div>
</div>
{{ footer }}
