{{ header }}{{ column_left }} 
<div id="content" class="kdsi_login_required">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-kdsi-login-required" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error_warning) %} 
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
                <div style="float: right;">
                    <div style="display: inline;"><b>{{ entry_store }}</b> </div>
                    <select name="store_" id="input-store" class="form-control-custom input-sm" onchange="window.location = $('#input-store option:selected').attr('data-href');">
                        {% for store in stores %} 
                            <option value="{{ store['store_id'] }}" {{ get_store_id == store['store_id'] ? 'selected="selected"' : '' }} data-href="{{ change_action }}&store_id={{ store['store_id'] }}">{{ store['name'] }}</option>
                        {% endfor %} 
                    </select>
                </div>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-kdsi-login-required" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_store }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_store']) %} 
									<input type="radio" id="status_switch_enable" name="module_kdsi_login_required[status_store]" value="1" checked="checked" />
									<label for="status_switch_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_disable" name="module_kdsi_login_required[status_store]" value="0" />
									<label for="status_switch_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_enable" name="module_kdsi_login_required[status_store]" value="1" />
									<label for="status_switch_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_disable" name="module_kdsi_login_required[status_store]" value="0" checked="checked" />
									<label for="status_switch_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_full_store }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_category }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_category']) %} 
									<input type="radio" id="status_switch_category_enable" name="module_kdsi_login_required[status_category]" value="1" checked="checked" />
									<label for="status_switch_category_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_category_disable" name="module_kdsi_login_required[status_category]" value="0" />
									<label for="status_switch_category_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_category_enable" name="module_kdsi_login_required[status_category]" value="1" />
									<label for="status_switch_category_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_category_disable" name="module_kdsi_login_required[status_category]" value="0" checked="checked" />
									<label for="status_switch_category_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_category }}</div>
                        </div>
                    </div>
					<div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_product }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_product']) %} 
									<input type="radio" id="status_switch_product_enable" name="module_kdsi_login_required[status_product]" value="1" checked="checked" />
									<label for="status_switch_product_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_product_disable" name="module_kdsi_login_required[status_product]" value="0" />
									<label for="status_switch_product_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_product_enable" name="module_kdsi_login_required[status_product]" value="1" />
									<label for="status_switch_product_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_product_disable" name="module_kdsi_login_required[status_product]" value="0" checked="checked" />
									<label for="status_switch_product_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_product }}</div>
                        </div>
                    </div>
					<div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_manufacturer }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_manufacturer']) %} 
									<input type="radio" id="status_switch_manufacturer_enable" name="module_kdsi_login_required[status_manufacturer]" value="1" checked="checked" />
									<label for="status_switch_manufacturer_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_manufacturer_disable" name="module_kdsi_login_required[status_manufacturer]" value="0" />
									<label for="status_switch_manufacturer_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_manufacturer_enable" name="module_kdsi_login_required[status_manufacturer]" value="1" />
									<label for="status_switch_manufacturer_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_manufacturer_disable" name="module_kdsi_login_required[status_manufacturer]" value="0" checked="checked" />
									<label for="status_switch_manufacturer_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_manufacturer }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_cart }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_cart']) %} 
									<input type="radio" id="status_switch_cart_enable" name="module_kdsi_login_required[status_cart]" value="1" checked="checked" />
									<label for="status_switch_cart_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_cart_disable" name="module_kdsi_login_required[status_cart]" value="0" />
									<label for="status_switch_cart_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_cart_enable" name="module_kdsi_login_required[status_cart]" value="1" />
									<label for="status_switch_cart_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_cart_disable" name="module_kdsi_login_required[status_cart]" value="0" checked="checked" />
									<label for="status_switch_cart_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_cart }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_checkout }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_checkout']) %} 
									<input type="radio" id="status_switch_checkout_enable" name="module_kdsi_login_required[status_checkout]" value="1" checked="checked" />
									<label for="status_switch_checkout_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_checkout_disable" name="module_kdsi_login_required[status_checkout]" value="0" />
									<label for="status_switch_checkout_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_checkout_enable" name="module_kdsi_login_required[status_checkout]" value="1" />
									<label for="status_switch_checkout_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_checkout_disable" name="module_kdsi_login_required[status_checkout]" value="0" checked="checked" />
									<label for="status_switch_checkout_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_checkout }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_status_information }}</label>
                        <div class="col-sm-10">
                            <div class="switch-field">
                                {% if (module_kdsi_login_required['status_information']) %} 
									<input type="radio" id="status_switch_info_enable" name="module_kdsi_login_required[status_information]" value="1" checked="checked" />
									<label for="status_switch_info_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_info_disable" name="module_kdsi_login_required[status_information]" value="0" />
									<label for="status_switch_info_disable">{{ text_disabled }}</label>
                                {% else %} 
									<input type="radio" id="status_switch_info_enable" name="module_kdsi_login_required[status_information]" value="1" />
									<label for="status_switch_info_enable">{{ text_enabled }}</label>
									<input type="radio" id="status_switch_info_disable" name="module_kdsi_login_required[status_information]" value="0" checked="checked" />
									<label for="status_switch_info_disable">{{ text_disabled }}</label>
                                {% endif %} 
                            </div>
                            <div class="text-msg text-primary">{{ text_information }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
.switch-field {
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	padding: 5px 0 0 0;
	overflow: hidden;
}

.switch-title {
	margin-bottom: 6px;
}

.switch-field input {
	position: absolute!important;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	float: left;
	display: inline-block;
	width: 100px;
	background-color: #e4e4e4;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-shadow: none;
	padding: 6px 14px;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3),0 1px rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3),0 1px rgba(255,255,255,0.1);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #A5DC86;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.switch-field label {
	padding: 6px 6px;
	margin: 0;
}

.text-msg {
	margin-bottom: 5px;
}

.kdsi_login_required .well {
	margin-bottom: 0;
}

select.form-control-custom {
	height: 20px;
	padding: 0px 9px;
}
</style>

{{ footer }}