<div id="modal-blogsignup" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title main-heading">{{ text_signin_register }}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div id="quick-register">
					
						<div class="col-sm-12">
							<h4 class="modal-title">{{ text_new_customer }}</h4>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group required">
								<label class="control-label" for="input-name">{{ entry_name }}</label>
								<input type="text" name="name" value="" id="input-name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group required">
								<label class="control-label" for="input-email">{{ entry_email }}</label>
								<input type="text" name="email" value="" id="input-email" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group required">
								<label class="control-label" for="input-telephone">{{ entry_telephone }}</label>
								<input type="text" name="telephone" value="" id="input-telephone" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group required">
								<label class="control-label" for="input-password">{{ entry_password }}</label>
								<input type="password" name="password" value="" id="input-password" class="form-control" />
							</div>
						</div>
						
						<div class="col-sm-6">
							{% if text_agree %}
							<div class="buttons">
							  <div class="pull-left">
								<input type="checkbox" name="agree" value="1" />&nbsp;{{ text_agree }}
								<button type="button" class="btn btn-primary createaccount"  data-loading-text="{{ text_loading }}" >{{ button_continue }}</button>
							  </div>
							</div>
							{% else %}
							<div class="buttons">
								<div class="pull-left">
									<button type="button" class="btn btn-primary createaccount" data-loading-text="{{ text_loading }}" >{{ button_continue }}</button>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
</div>
<script type="text/javascript"><!--
$('#quick-register input').on('keydown', function(e) {
	if(e.keyCode == 13){
		$('#quick-register .createaccount').trigger('click');
	}
});
$('#quick-register .createaccount').click(function(){
	$.ajax({
		url: 'index.php?route=extension/signup/register',
		type: 'post',
		data: $('#quick-register input[type=\'text\'], #quick-register input[type=\'password\'], #quick-register input[type=\'checkbox\']:checked'),
		dataType: 'json',
		beforeSend: function() {
			$('#quick-register .createaccount').button('loading');
			$('#modal-quicksignup .alert-danger').remove();
		},
		complete: function() {
			$('#quick-register .createaccount').button('reset');
		},
		success: function(json) {
			$('#modal-quicksignup .form-group').removeClass('has-error');
			
			if(json['islogged']){
				 window.location.href="index.php?route=account/account";
			}
			if (json['error_name']) {
				$('#quick-register #input-name').parent().addClass('has-error');
				$('#quick-register #input-name').focus();
			}
			if (json['error_email']) {
				$('#quick-register #input-email').parent().addClass('has-error');
				$('#quick-register #input-email').focus();
			}
			if (json['error_telephone']) {
				$('#quick-register #input-telephone').parent().addClass('has-error');
				$('#quick-register #input-telephone').focus();
			}
			if (json['error_password']) {
				$('#quick-register #input-password').parent().addClass('has-error');
				$('#quick-register #input-password').focus();
			}
			if (json['error']) {
				$('#modal-quicksignup .modal-header').after('<div class="alert alert-danger" style="margin:5px;"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}
			
			if (json['now_login']) {
				$('.quick-login').before('<li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a><ul class="dropdown-menu dropdown-menu-right"><li><a href="{{ account }}">{{ text_account }}</a></li><li><a href="{{ order }}">{{ text_order }}</a></li><li><a href="{{ transaction }}">{{ text_transaction }}</a></li><li><a href="{{ download }}">{{ text_download }}</a></li><li><a href="{{ logout }}">{{ text_logout }}</a></li></ul></li>');
				
				$('.quick-login').remove();
			}
			if (json['success']) {
				$('#modal-quicksignup .main-heading').html(json['heading_title']);
				success = json['text_message'];
				success += '<div class="buttons"><div class="text-right"><a onclick="loacation();" class="btn btn-primary">'+ json['button_continue'] +'</a></div></div>';
				$('#modal-quicksignup .modal-body').html(success);
			}
		}
	});
});
//--></script>
<script type="text/javascript"><!--
function loacation() {
	location.reload();
}
//--></script>