{{ header }}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" /> 
<link href="catalog/view/theme/default/stylesheet/video_gallery.css" rel="stylesheet" type="text/css" />
<div id="video-gallery-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">

      {{ content_top }}

      <h2>{{ heading_title }}</h2>
      {% if vide_galleries %}
      <h3>{{ text_refine }}</h3>
      {% if video_gallery_categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for video_category in video_gallery_categories %}
            <li><a href="{{ video_category.href }}">{{ video_category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for video_category in video_gallery_categories|batch((video_gallery_categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in video_category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br/>
      {% endif %}
      {% endif %}
      {% if video_galleries %}
      <div class="row">
        <script>
          $(document).ready(function() {
            $("area[rel^='prettyPhoto']").prettyPhoto();
            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: false});
            $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',slideshow:1000000, hideflash: true});
            $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
              custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
              changepicturecallback: function(){ initialize(); }
            });
            $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
              custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
              changepicturecallback: function(){ _bsap.exec(); }
            });
          });
        </script>
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        {% for video_gallery in video_galleries %}
        <div class="product-layout product-list col-xs-12">
            <div class="gallery">
              <div class="box">
                <div class="image">
                  <a data-lightbox="imagetrip" data-videogalleryid="{{ video_gallery.video_gallery_id }}" rel="prettyPhoto[video-gallery-category]" href="{{ video_gallery.video_url }}" title="{{ video_gallery.video_title }}">
                    <img src="{{ video_gallery.video_image }}" alt="{{ heading_title }}" class="img-responsive" title="{{ video_gallery.video_title }}" />
                    <div class="icon-hover">
                      <i class="fa fa-youtube-play"></i>
                    </div>
                  </a>
                </div>
                <h3>{{ video_gallery.video_title }}</h3> 
                <div>{{ video_gallery.video_description }}</div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
