{{ header }}{{ git_hidden_tag }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary">
					<i class="fa fa-plus"></i>
				</a>
				<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-announcement').submit() : false;" form="form-announcement" formaction="{{ delete }}">
					<i class="fa fa-trash-o"></i>
				</button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i>
      {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
		{% endif %}
		{% if success %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i>
      {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i>
					{{ text_list }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-announcement">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);"/></td>
									<td class="text-right">
										{% if sort == 'a.announcement_id' %}
											<a href="{{ sort_video_id }}" class="{{ order|lower }}">{{ column_video_id }}</a>
										{% else %}
											<a href="{{ sort_video_id }}">{{ column_video_id }}</a>
										{% endif %}
									</td>
									<td class="text-left">
										{% if sort == 'ad.title' %}
											<a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
										{% else %}
											<a href="{{ sort_title }}">{{ column_title }}</a>
										{% endif %}
									</td>
									<td class="text-left">{{ column_image }}</td>
									<td class="text-left">{{ column_url }}</td>
									<td class="text-left">{{ column_description }}</td>
									<td class="text-right">{{ column_hit }}</td>
									<td class="text-left">{{ column_added_by }}</td>
									<td class="text-center">{{ column_added_at }}</td>
									<td class="text-center">{{ column_status }}</td>
									<td class="text-right">{{ column_action }}</td>
								</tr>
							</thead>
							<tbody>
								{% if announcements %}
									{% for announcement in announcements %}
										<tr>
											<td style="text-align: center;">
												{% if announcement.selected %}
													<input type="checkbox" name="selected[]" value="{{ announcement.announcement_id }}" checked="checked"/>
												{% else %}
													<input type="checkbox" name="selected[]" value="{{ announcement.announcement_id }}"/>
												{% endif %}
											</td>
											<td class="text-right">{{ announcement.announcement_id }}</td>
											<td class="text-left">{{ announcement.title }}</td>
											<td class="text-left"><img src="{{ announcement.image }}" width="100" /></td>
											<td class="text-left"><a href="{{ announcement.url }}" target="_blank">{{ announcement.url }}</a></td>
											<td class="text-left">{{ announcement.description }}</td>
											<td class="text-right">{{ announcement.hit | number_format }}</td>
											<td class="text-left">{{ announcement.added_by }}</td>
											<td class="text-center">{{ announcement.added_at }}</td>
											<td class="text-center">{{ announcement.status }}</td>
											<td class="text-right">
												<a href="{{ announcement.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary">
													<i class="fa fa-pencil"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td class="text-center" colspan="4">{{ text_no_results }}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$('button[form=\'form-announcement\']').on('click', function(e) {
  $('#form-announcement').attr('action', $(this).attr('formaction'));
});
</script>

{{ footer }}
