{{ header }} 
<div id="container" class="container j-container">
  <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for breadcrumb in breadcrumbs %}
      <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="{{ breadcrumb.href }}" itemprop="item"><span itemprop="name">{{ breadcrumb.text }}</span></a><meta itemprop="position" content="{{ loop.index }}" /></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
		<h2>{{ text_data_rectification }}</h2>
		<p>{{ text_data_rectification_helper }}</p>
		<br />
		<ul class="list-unstyled">
			<li><a href="{{ edit }}">{{ text_edit }}</a></li>
			<li><a href="{{ password }}">{{ text_password }}</a></li>
			<li><a href="{{ address }}">{{ text_address }}</a></li>
			<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
		</ul>

		<h2>{{ text_data_portability }}</h2>
		<p>{{ text_data_portability_helper }}</p>
		<br />
		<ul class="list-unstyled">
			<li><a href="{{ download_gdpr_requests }}">{{ text_gdpr_requests }}</a></li>
			<li><a href="{{ download_personal_info }}">{{ text_personal_information }}</a></li>
			<li><a href="{{ download_addresses }}">{{ text_personal_addresses }}</a></li>
			<li><a href="{{ download_orders }}">{{ text_orders }}</a></li>
		</ul>
     	
     	<h2>{{ text_access_to_personal_data }}</h2>
		<p>{{ text_access_to_personal_data_helper }}</p>
		<br />
		<ul class="list-unstyled">
			<li><a href="{{ personal_data_request }}">{{ text_request_a_report }}</a></li>
		</ul>
    
    	<h2>{{ text_right_to_be_forgotten }}</h2>
		<p>{{ text_right_to_be_forgotten_helper }}</p>
		<br />
		<ul class="list-unstyled">
			<li><a href="{{ deletion_request }}">{{ text_request_personal_data_deletion }}</a></li>
		</ul>
     
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}