{{ header }}
<style>
#common-home {
  margin: 0px;
  padding: 0px;
}
</style>
<div id="common-home" class="container-fluid">

  <div class="row">

    {{ column_left }}

    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">

      <div class="content-top">
      {{ content_top }}
      </div>

      <div class="content-bottom">
      {{ content_bottom }}
      </div>

    </div>

    {{ column_right }}

  </div>

</div><!-- End of ID: common-home -->

{{ footer }}

