<div class="container-fluid">
	<h2>{{ text_steps_gdpr_compliant }}</h2>
	<hr />
	<h4>{{ text_gdpr_checklist_helper }}</h4>

	<ul class="checklist">
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox1]" value="1" {{ moduleData['Checkbox1'] is not empty and moduleData['Checkbox1'] == '1' ? 'checked="checked"' : '' }} id="checkbox1"/>
				<label for="checkbox1">
					<strong>{{ text_gdpr_check_1 }}</strong>
					<p>{{ text_gdpr_check_1_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox2]" value="1" {{ moduleData['Checkbox2'] is not empty and moduleData['Checkbox2'] == '1' ? 'checked="checked"' : '' }} id="checkbox2"/>
				<label for="checkbox2">
					<strong>{{ text_gdpr_check_2 }}</strong>
					<p>{{ text_gdpr_check_2_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox3]" value="1" {{ moduleData['Checkbox3'] is not empty and moduleData['Checkbox3'] == '1' ? 'checked="checked"' : '' }} id="checkbox3"/>
				<label for="checkbox3">
					<strong>{{ text_gdpr_check_3 }}</strong>
					<p>{{ text_gdpr_check_3_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox4]" value="1" {{ moduleData['Checkbox4'] is not empty and moduleData['Checkbox4'] == '1' ? 'checked="checked"' : '' }} id="checkbox4"/>
				<label for="checkbox4">
					<strong>{{ text_gdpr_check_4 }}</strong>
					<p>{{ text_gdpr_check_4_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox5]" value="1" {{ moduleData['Checkbox5'] is not empty and moduleData['Checkbox5'] == '1' ? 'checked="checked"' : '' }} id="checkbox5"/>
				<label for="checkbox5">
					<strong>{{ text_gdpr_check_5 }}</strong>
					<p>{{ text_gdpr_check_5_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox6]" value="1" {{ moduleData['Checkbox6'] is not empty and moduleData['Checkbox6'] == '1' ? 'checked="checked"' : '' }} id="checkbox6"/>
				<label for="checkbox6">
					<strong>{{ text_gdpr_check_6 }}</strong>
					<p>{{ text_gdpr_check_6_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox7]" value="1" {{ moduleData['Checkbox7'] is not empty and moduleData['Checkbox7'] == '1' ? 'checked="checked"' : '' }} id="checkbox7"/>
				<label for="checkbox7">
					<strong>{{ text_gdpr_check_7 }}</strong>
					<p>{{ text_gdpr_check_7_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox8]" value="1" {{ moduleData['Checkbox8'] is not empty and moduleData['Checkbox8'] == '1' ? 'checked="checked"' : '' }} id="checkbox8"/>
				<label for="checkbox8">
					<strong>{{ text_gdpr_check_8 }}</strong>
					<p>{{ text_gdpr_check_8_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox9]" value="1" {{ moduleData['Checkbox9'] is not empty and moduleData['Checkbox9'] == '1' ? 'checked="checked"' : '' }} id="checkbox9"/>
				<label for="checkbox9">
					<strong>{{ text_gdpr_check_9 }}</strong>
					<p>{{ text_gdpr_check_9_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox10]" value="1" {{ moduleData['Checkbox10'] is not empty and moduleData['Checkbox10'] == '1' ? 'checked="checked"' : '' }} id="checkbox10"/>
				<label for="checkbox10">
					<strong>{{ text_gdpr_check_10 }}</strong>
					<p>{{ text_gdpr_check_10_helper }}</p>
				</label>
			</div>
		</li>
		<li>
			<div class="checklist-success">
				<input type="checkbox" name="{{ moduleName }}[Checkbox11]" value="1" {{ moduleData['Checkbox11'] is not empty and moduleData['Checkbox11'] == '1' ? 'checked="checked"' : '' }} id="checkbox11"/>
				<label for="checkbox11">
					<strong>{{ text_gdpr_check_11 }}</strong>
					<p>{{ text_gdpr_check_11_helper }}</p>
				</label>
			</div>
		</li>
	</ul>
</div>
